body {
    background-color: black;
    color: white;
    font-family: monospace; 
    font-size: 2em;
    display: flex;
    flex-direction: column;
    padding: 5vw 10vh;
    padding-bottom: 0px;
    gap: 6vh; /* Add space between divs */
    max-width: 800px; /* Limit text width */
    margin: 0 auto; /* Center align the content */
}
a,strong {
    color: greenyellow;
    text-decoration: none;
}
.directory{
    text-decoration: none;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    height: auto;
}

@media (max-device-width: 480px) /* smartphones, portrait 480x320 phones */  { 
    body {
        font-size: 4em;
        gap: 10vh;
        padding: 1vw 1vh;
        padding-top: 15vh;
    }}