body {
  background-color: #a6dcf2;
}

.Game-Window div{
  display: flex;
  justify-content: space-evenly;
}

.egg-basket img {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.bucket img {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
}


.popup {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
